.Button {
    height: 40px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
}

.Button--primary {
    color: #fff;
    background: #6e4ddd;
}

.Button--secondary {
    color: #6e4ddd;
    background: transparent;
    border: solid 2px #6e4ddd;
}
