.Principal {
    background-color: #f5cc6e;
}

.Principal section {
    padding: 42px;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

.Principal .Principal__information {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.Principal .information__title {
    color: #ffffff;
    font-size: 120px;
    line-height: 120px;
    text-shadow: 0px 3px 3px #999999;
}

.Principal .information__subtitle {
    color: #6e4ddd;
    font-size: 40px;
}

.Principal .information__options {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 64px 0px 40px;
}

.Principal .options__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.Principal .options__button span {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.Principal .options__button svg {
    color: #ffffff;
}

.Principal .information__button {
    width: 380px;
    height: 95px;
    background-color: #e93bf1;
    color: #ffffff;
    border-radius: 32px;
    font-size: 30px;
    font-weight: bold;
    border: none;
}

.Principal .Principal__image img {
    width: 700px;
    margin-top: 70px;
}
